@font-face {
    font-family: "Circular Std Black";
    src: url("./assets/fonts/f1a22f6f15d272c7aa56da8b2c91f5e5.eot");
    src: url("./assets/fonts/f1a22f6f15d272c7aa56da8b2c91f5e5.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/f1a22f6f15d272c7aa56da8b2c91f5e5.woff2") format("woff2"), url("./assets/fonts/f1a22f6f15d272c7aa56da8b2c91f5e5.woff") format("woff"), url("./assets/fonts/f1a22f6f15d272c7aa56da8b2c91f5e5.ttf") format("truetype"), url("./assets/fonts/f1a22f6f15d272c7aa56da8b2c91f5e5.svg#Circular Std Black") format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #4d141d;
    --yellow: #e7b874;
    --bold-font: "Circular Std Black";
    --normal-font: "Kumbh Sans";
    --light-blue: #714f54;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400 !important;
}

.banner {
    background-color: var(--blue);
    width: 100% !important;
    height: 99vh;
}

.section-sm {
    background: var(--yellow);
    width: 74%;
    margin: auto;
    height: auto;
    margin-top: -140px;
    padding-bottom: 30px;
}

.banner>.content {
    width: 50%;
    margin-left: 225px;
    margin-top: 50px;
}

.header-logo {
    max-width: 160px;
}

.header {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.title-text {
    font-size: 3em;
    font-family: "Circular Std Black";
    color: white;
    font-weight: 200;
}

.banner>.dash {
    width: 200px;
    margin-left: 225px;
    margin-top: 50px;
    height: 10px;
    background-color: var(--yellow);
}

.banner>.explore {
    width: 200px;
    margin-left: 225px;
    margin-top: 80px;
    color: white;
    font-size: 1.2em;
    transition: 0.8s;
}

.explore:hover {
    font-size: 1.3em;
    cursor: pointer;
}

.m-wrapper {
    display: flex;
    justify-content: flex-end;
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 10 !important;
}

.menu-icon {
    z-index: 10 !important;
    background-color: white;
    padding: 15px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
}

.menu-bar {
    font-size: 2em;
}

.close-icon {
    font-size: 2em;
}

.menu-bar:hover,
.close-icon {
    cursor: pointer;
}

.navbar {
    width: 100%;
    height: 100vh !important;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    color: white;
    margin: auto;
    position: fixed;
}

.nav-section1 {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-section2 {
    width: 60%;
}

.link:hover {
    color: var(--light-blue);
}

.nav-section1-content,
a {
    color: white;
    font-family: var(--bold-font);
    font-size: 1.7em;
    text-decoration: none;
}

.nav-section1-content>div {
    margin-bottom: 20px;
}

.compass-icon {
    color: #a96d49 !important;
    font-size: 3em;
}

.nav-section2 {
    margin-top: 100px;
    font-family: var(--normal-font);
    font-weight: 200;
}

.sub-section {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}

.sub-section,
p {
    margin-top: 10px;
}

.sub {
    color: var(--light-blue);
    letter-spacing: 1px;
}

.sub-title {
    font-size: 1.3em;
    font-family: var(--bold-font);
    margin-bottom: 20px;
    color: var(--light-blue);
}

.ml-4 {
    margin-left: 100px;
}

.mt-4 {
    margin-top: 40px;
}

.logo-nav {
    max-width: 120px;
    margin-left: 150px;
    margin-top: 20px;
}

.sm-content {
    width: 80%;
    margin: auto;
    padding-top: 150px;
    text-align: left;
    color: white;
    line-height: 25px;
}

.title1 {
    color: var(--blue);
    font-family: var(--bold-font);
    font-size: 4em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text {
    font-size: 20px;
}

.button {
    border: 3px white solid;
    padding: 5px 20px;
    width: max-content;
    border-radius: 8px;
    transition: 0.6s;
}

.button:hover {
    background: white;
    cursor: pointer;
    color: var(--yellow);
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--yellow);
}

.part1 {
    width: 50%;
}

.part2 {
    width: 50%;
}

.image-banner {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.part1 {
    display: flex;
    justify-content: center;
    margin: auto;
}

.our-methodology {
    width: 60%;
}

.title-bold {
    font-size: 4em;
    font-family: var(--bold-font);
    color: var(--blue);
}

.description {
    font-size: 1.2em;
    color: rgb(116, 112, 112);
    line-height: 26px;
}

.section-mentors {
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-list {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 40px;
}

.mentors-list {
    width: 35%;
}

.mentor-content {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--bold-font);
    color: var(--yellow);
    font-size: 5em;
}

.m-content {
    height: 85%;
}

.mentor-image {
    width: 100%;
    height: 100%;
}

.con-icon {
    background-color: var(--blue);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.c-icon {
    color: white;
    background-color: var(--blue);
    padding: 18px;
    translate: 1s;
    font-size: 1.2em;
    border-radius: 50%;
}

.c-icon:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}

.prev-next {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.prev-next>div {
    margin-top: 20px;
    margin-right: 20px;
}

.white {
    color: white;
}

.a-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.a-card {
    max-width: 300px;
    max-height: 600px;
    text-align: center;
    margin: 30px;
}

.a-card {
    margin-top: 30px;
}

.a-image {
    width: 250px;
    height: 250px;
}

.semi-blod {
    text-align: center;
    color: #26272b;
    font-size: 1em;
}

.section-achievements {
    margin-top: 100px;
    width: 80%;
    margin: auto;
}

.f-part {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 70px;
}

.footer-left {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 100px;
}

.footer-right {
    margin-left: 100px;
    width: 50%;
}

.footer {
    width: 100%;
    min-height: 400px;
    background-color: var(--blue);
    color: white;
    margin-top: 100px;
}

.logo-footer {
    margin-top: 50px;
    max-width: 150px;
    margin-bottom: 30px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 600px solid transparent;
    border-right: 500px solid var(--yellow);
    position: absolute;
    right: 0;
    border-bottom: 25px solid transparent;
}

.banner-2 {
    height: 50vh;
}

.productions {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.production-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-card-i {
    width: 100%;
    height: 100%;
    display: block;
}

.vm {
    margin-top: 10px;
    margin-bottom: 8px;
}

.p-card {
    width: 400px;
    background: var(--yellow);
    padding: 20px;
    color: white;
    margin: 20px;
}

.p-card-title {
    font-size: 1.5em;
    color: var(--blue);
    font-family: var(--bold-font);
}

.p-card-img {
    width: 100%;
    height: 200px;
}

.button-2 {
    margin-top: 20px;
    border: white 2px solid;
    border-radius: 5px;
    padding: 5px 7px;
}

.button-2:hover {
    background-color: white;
    color: var(--yellow);
    cursor: pointer;
}

.button-2>p {
    font-size: 0.9em;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery-item:hover .image img {
    transform: scale(1.5);
}

.gallery-item .text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
    pointer-events: none;
    z-index: 4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text {
    opacity: 1;
    animation: move-down .3s linear;
    padding: 1em;
    width: 100%;
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.w-3 {
    grid-column: span 3;
}

.w-4 {
    grid-column: span 4;
}

.w-5 {
    grid-column: span 5;
}

.w-6 {
    grid-column: span 6;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

.h-3 {
    grid-row: span 3;
}

.h-4 {
    grid-row: span 4;
}

.h-5 {
    grid-row: span 5;
}

.h-6 {
    grid-row: span 6;
}

@media screen and (max-width:500px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
    .w-1,
    .w-2,
    .w-3,
    .w-4,
    .w-5,
    .w-6 {
        grid-column: span 1;
    }
}

@keyframes move-down {
    0% {
        top: 10%;
    }
    50% {
        top: 35%;
    }
    100% {
        top: 50%;
    }
}

.button-dark {
    margin-top: 50px;
    padding: 5px 15px;
    background-color: var(--blue);
    color: white;
    padding-bottom: 10px;
}

.button-dark:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}

.explore-link {
    font-family: var(--normal-font) !important;
    font-size: 1em;
}

.blog-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.banner-img {
    width: 100%;
    height: 50vh;
    opacity: 0.9;
    background-color: var(--blue);
    background-image: url("https://source.unsplash.com/1280x720/?city");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-b-content {
    width: 70%;
    margin: auto;
    text-align: center;
}

.banner-title-b {
    font-size: 5em;
}

.banner-img:hover {
    cursor: pointer;
    opacity: 0.4;
}

.blog-list {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.blog-item-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-item-image-holder {
    width: 30%;
}

.blog-item-content {
    width: 60%;
    margin-left: 20px;
}

.b-i-tittle {
    font-size: 2em;
    font-family: var(--bold-font);
    color: var(--blue);
}

.blog-item {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.banner-blog-img {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.move {
    border-top: 400px solid transparent;
    border-right: 500px solid var(--yellow);
}

.message {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
    border: none;
    border: 1px solid rgb(161, 156, 156);
    height: 40px;
    padding: 10px;
    margin: 10px 0px;
}

@media (max-width: 800px) {
    .blog-container {
        width: 98%;
        margin-top: 2px;
    }
    .blog-item-image-holder {
        width: 100%;
    }
    .blog-list {
        width: 90%;
    }
    .banner-title-b {
        font-size: 2em;
    }
    .b-i-tittle {
        font-size: 1.5em;
    }
    .blog-item-content {
        width: 95%;
        margin: 0;
        margin: auto;
        font-size: 0.9em;
    }
    .blog-item {
        flex-direction: column;
    }
    .productions {
        margin-top: 30px;
        width: 100%;
    }
    .triangle-left {
        border-top: 100px solid transparent;
        border-right: 50px solid var(--yellow);
    }
    .f-part {
        flex-direction: column;
        width: 60%;
    }
    .footer-left {
        justify-content: start;
        margin: 0;
        width: 100%;
    }
    .footer-right {
        width: 100%;
        margin: 0;
    }
    .section-mentors {
        width: 100%;
    }
    .mentors-list {
        width: 100%;
        text-align: center;
    }
    .mentor-content {
        width: 100%;
        padding-bottom: 0px;
    }
    .title {
        font-size: 2.5em;
    }
    .prev-next {
        justify-content: start;
    }
    .mentor-content {
        padding: 0;
    }
    .m-content {
        width: 100%;
    }
    .card-list {
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }
    .title-bold {
        font-size: 3em;
    }
    .our-methodology {
        width: 90%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .description {
        font-size: 1.1em;
    }
    .card-list {
        flex-direction: column;
    }
    .section-bar {
        flex-direction: column-reverse;
    }
    .part1 {
        width: 100%;
    }
    .part2 {
        width: 100%;
    }
    .banner>.content {
        width: 80%;
        margin: auto;
    }
    .title-text {
        font-size: 2em;
    }
    .banner>.explore {
        margin-top: 20px;
        margin-left: 40px;
    }
    .banner>.dash {
        margin-left: 40px;
    }
    .section-sm {
        width: 100%;
    }
    .no-mobile {
        display: none;
    }
    .nav-section1 {
        width: 100%;
        margin: 0 !important;
    }
    .link {
        font-size: 1em;
    }
    .compass-icon {
        font-size: 2em;
    }
    .text {
        font-size: 1.1em;
        line-height: 20px;
    }
}